/* Resetting some default browser styles */
html, body, header, nav, main, footer {
  margin: 0;
  padding: 0;
  font-family: "rubik", sans-serif;
  background-color: rgb(0, 0, 0);
  color:rgb(185, 184, 184);
  font-size: 20px;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  }
.quote-container {
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  }
#myVideo {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  border: 1px solid black;
  border-radius: 5px;
}  
#mySecondVideo {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  border: 1px solid black;
  border-radius: 5px;
}  

#myThirdVideo {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  border: 1px solid black;
  border-radius: 5px;
}  

p {
  color:rgb(185, 184, 184);
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 50px;
}
h1 {
  color:rgb(255, 255, 255);
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}
h2 {
  color:rgb(255, 255, 255);
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}
img {
  object-fit: cover;
  width:100%;
}

.popup-img {
  position: relative;
  width: 70%;
  height: auto;
  display: block;
  }
#dynamic-image {
  width: 100px; /* Initial width */
  transition: width 0.2s; /* Smooth transition for width change */
}
/* wanted to make the images fill the screen like how it was in figma,
I personally think it looks a bit big */
header {
  background-color: rgb(21, 21, 21);
  color: rgb(185, 184, 184);
  text-align: center;
  padding: 20px 0;
} 
/* i left the header in here so there is something at the top,
but the figma vision didnt have a header until after the interactive part.
so we can take it out later */
footer {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: #fff;
  /* padding: 10px 0; */
}
/* this is to add our names at the bottom */
.video-container {
position: relative;
width: 100%;
height: 100vh;
display: flex;
overflow: hidden;
}
.video-container video {
width: 100%; /* Maintain aspect ratio */
height: 100%; /* Full height of the container */
object-fit: cover; /* Cover the entire area without stretching */
}
.video-container2 {
position: relative;
width: 100%;
height: 100vh;
display: flex;
overflow: hidden;
}
.video-container2 video {
width: 100%; /* Maintain aspect ratio */
height: 100%; /* Full height of the container */
object-fit: cover; /* Cover the entire area without stretching */
}

.video-container3 {
position: relative;
width: 100%;
height: 100vh;
display: flex;
overflow: hidden;
}

.video-container3 video {
width: 100%; /* Maintain aspect ratio */
height: 100%; /* Full height of the container */
object-fit: cover; /* Cover the entire area without stretching */
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}
.overlay2 {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.overlay3 {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.message-box {
text-align: center;
max-width: 100%;
margin: 0 auto;
padding: 20px;
background: rgba(0, 0, 0, 0);
border-radius: 10px;
}
.message-box p {
margin-bottom: 20px;
color: rgb(255, 255, 255);
font-size: 1.2rem;
}
.message-box p2 {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  }
#startRideButton {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #5DC4F1;
color: white;
cursor: pointer;
font-size: 1rem;
}
#startRideButton:hover {
background-color: #0056b3;
}
#yieldButton {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #5DC4F1;
color: white;
cursor: pointer;
font-size: 1rem;
}
#yieldButton:hover {
background-color: #0056b3;
}
#keepDrivingButton {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #5DC4F1;
color: white;
cursor: pointer;
font-size: 1rem;
}
#keepDrivingButton:hover {
background-color: #0056b3;
}
#continueRideButton {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #5DC4F1;
color: white;
cursor: pointer;
font-size: 1rem;
}
#continueRideButton:hover {
background-color: #0056b3;
}
#nowButton {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #5DC4F1;
color: white;
cursor: pointer;
font-size: 1rem;
}
#nowButton:hover {
background-color: #0056b3;
}
#waitButton {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #5DC4F1;
color: white;
cursor: pointer;
font-size: 1rem;
}
#waitButton:hover {
background-color: #0056b3;
}

#continueRideButton2 {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #5DC4F1;
color: white;
cursor: pointer;
font-size: 1rem;
}

#continueRideButton2:hover {
background-color: #0056b3;
}

#endButton {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #5DC4F1;
color: white;
cursor: pointer;
font-size: 1rem;
}

#endButton:hover {
background-color: #0056b3;
}

#road-img {
margin-left: auto;
margin-right: auto;
width: 50%;
}

.slideshow {
  position: relative;
  max-width: 600px; /* Adjust based on the maximum width you want */
  height: 500px;
  margin: auto;
  overflow: hidden;
}

.slideshow a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.slideshow img {
  width: 100%; /* Adjust if you want to control the image size */
  vertical-align: middle;
  border-radius: 20px;
}
.pull-quote {
  transition: color 0.8s ease;
  transition: transform 0.8s;
}

.pull-quote:hover {
  transform: scale(1.1);
  color: #bcd8f6;
}